.footer {
    width: 100%;
    padding: 44px 165px;
    background: black;
    @include flexiblePlacement(space-between, none, none, none);

    &__left-content {
        @include flexiblePlacement(none, none, column, none);
    }

    &__logo {
        background: url(../img/header/logo.svg) no-repeat;
        width: 197px;
        height: 32px;
    }

    &__list {
        @include flexiblePlacement(none, none, none, none);
        margin-top: 24px;
    }

    &__item:not(:last-child) {
        margin-right: 32px;
    }

    &__link {
        color: #fff;
        font-family: 'Alata', sans-serif;
    }

    &__item {
        @include flexiblePlacement(center, none, none, none);
        position: relative;
    }

    &__item:hover::after {
        content: '';
        position: absolute;
        width: 24px;
        height: 2.5px;
        background: #FFFFFF;
        top: 29px;
        text-align: center;
    }

    &__right-content {
        @include flexiblePlacement(none, none, column, none);
    }

    &__socials {
        @include flexiblePlacement(none, none, none, none);
        background: url(../img/footer/socials-icon.svg) no-repeat;
        width: 150px;
        height: 24px;
        margin-left: auto;
    }

    &__copyright {
        color: #FFFFFF;
        font-size: 15px;
        mix-blend-mode: normal;
        opacity: 0.5;
        font-weight: 400;
        font-family: 'Alata', sans-serif;
        margin-top: 33px;
    }

    &__socials-link {
        width: 10px;
        height: 10px;
        color: brown;
        cursor: pointer;
    }

    &__socials-item {
        width: 24px;
        height: 24px;
        position: relative;
        cursor: pointer;
    }

    &__socials-item:not(:last-child) {
        margin-right: 16px;
    }

    &__socials-item:hover::after {
        content: '';
        position: absolute;
        width: 24px;
        height: 3px;
        background: #FFFFFF;
        top: 24px;
        text-align: center;
        margin-top: 8px;
    }
}