.header {
    background: url(../img/header/backgrond.svg) no-repeat;
    width: 100%;
    background-size: cover;
    padding: 64px 165px 146px;
    background-color: black;

    &__nav {
        @include flexiblePlacement(space-between, none, none, none);
    }

    &__logo {
        background: url(../img/header/logo.svg) no-repeat;
        width: 197px;
        height: 32px;
    }

    &__list {
        @include flexiblePlacement(none, none, none, none);
        margin-top: 9px;
    }

    &__item {
        @include flexiblePlacement(center, none, none, none);
        position: relative;
    }

    &__link {
        color: #fff;
        font-family: 'Alata', sans-serif;
    }

    &__item:hover::after {
        content: '';
        position: absolute;
        width: 24px;
        height: 2.5px;
        background: #FFFFFF;
        top: 27px;
        text-align: center;
    }

    &__item:not(:last-child) {
        margin-right: 32px;
    }

    &__slogan {
        margin-top: 130px;
        width: 650px;
        font-size: calc(4vw + 7px);

        color: #fff;
        border: 2px solid #FFFFFF;
        text-transform: uppercase;
        padding: 40px;
        font-weight: 100;
    }
}

