.burger-menu {
    display: none;
    width: 100%;
    background: black;
    @include flexiblePlacement(none, none, column, none);
    padding: 40px 24px;

}

.bmbtn {
    background: url(../img/mobile-menu/burger-menu.svg) no-repeat;
    width: 24px;
    height: 16px;
    border: none;
}
.mobile-menu__link {
    font-size: 24px;
    line-height: 25px;
    color: white;
    text-transform: uppercase;
}
    .nav {
    @include flexiblePlacement(space-between, none, none, none);
    }


.mobile-menu__logo {
    background: url(../img/mobile-menu/logo.svg) no-repeat;
    
    width: 197px;
    height: 32px;
    
    display: block;
    margin-bottom: 160px;
}

.mobile-menu__item:not(:last-child) {
    margin-bottom: 24px;
}