.burger-menu {
    @include flexiblePlacement(none, none, column, none);
    padding: 40px 24px;
    display: none;
    width: 100%;
    background: black;
}

.bmbtn {
    width: 24px;
    height: 16px;
    border: none;
    background: url(../img/mobile-menu/burger-menu.svg) no-repeat;
}

.mobile-menu__link {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 25px;
    color: white;
}

.nav {
    @include flexiblePlacement(space-between, none, none, none);
}

.mobile-menu__logo {   
    width: 197px;
    height: 32px;
    display: block;
    margin-bottom: 160px;
    background: url(../img/mobile-menu/logo.svg) no-repeat;
}

.mobile-menu__item:not(:last-child) {
    margin-bottom: 24px;
}