*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

a {
  outline: none;
}

a:focus {
  outline: thin dotted;
  outline: none;
}

a {
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}

form {
  margin: 0;
}

button,
input {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

button,
input {
  line-height: normal;
}

button {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html,
button,
input {
  color: #222;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: none;
      flex-wrap: none;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400px;
}

.header {
  background: url(../img/header/backgrond.svg) no-repeat;
  width: 100%;
  background-size: cover;
  padding: 64px 165px 146px;
  background-color: black;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -ms-flex-wrap: none;
      flex-wrap: none;
}

.header__logo {
  background: url(../img/header/logo.svg) no-repeat;
  width: 197px;
  height: 32px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -ms-flex-wrap: none;
      flex-wrap: none;
  margin-top: 9px;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -ms-flex-wrap: none;
      flex-wrap: none;
  position: relative;
}

.header__link {
  color: #fff;
  font-family: 'Alata', sans-serif;
}

.header__item:hover::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 2.5px;
  background: #FFFFFF;
  top: 27px;
  text-align: center;
}

.header__item:not(:last-child) {
  margin-right: 32px;
}

.header__slogan {
  margin-top: 130px;
  width: 650px;
  font-size: calc(4vw + 7px);
  color: #fff;
  border: 2px solid #FFFFFF;
  text-transform: uppercase;
  padding: 40px;
  font-weight: 100;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: none;
      flex-wrap: none;
  margin: 160px 163px 184px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400px;
}

.main-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -ms-flex-wrap: none;
      flex-wrap: none;
  position: relative;
  margin-bottom: 142px;
}

.main-intro__img {
  background: url(../img/main/man-photo.svg) no-repeat;
  width: 74%;
  background-size: contain;
  height: 500px;
}

.main-intro__content {
  background: white;
  width: 541px;
  padding: 96px 0 0 96px;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: none;
      flex-wrap: none;
  right: 0;
}

.main-intro__title {
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 300;
  font-style: normal;
}

.main-intro__text {
  font-family: Alata;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  opacity: 0.5;
}

.main-box--head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -ms-flex-wrap: none;
      flex-wrap: none;
  margin-bottom: 70px;
}

.main__btn {
  width: 157px;
  height: 40px;
  border: 1px solid #000000;
  background: white;
  margin-left: auto;
  font-size: 14px;
  letter-spacing: 5px;
}

.main__btn:hover {
  border: none;
  background: #000000;
  color: white;
}

.main__title {
  font-size: 48px;
  line-height: 48px;
  color: black;
}

.main__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
}

.main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -ms-flex-wrap: none;
      flex-wrap: none;
  width: 256px;
  height: 450px;
  font-size: 32px;
  color: #fff;
  padding: 0 40px 32px 40px;
  cursor: pointer;
}

.main__item:nth-child(-n+4) {
  margin-bottom: 30px;
}

.main__item:nth-child(1) {
  background: url(../img/main/earth.svg);
}

.main__item:nth-child(2) {
  background: url(../img/main/arcade.svg);
}

.main__item:nth-child(3) {
  background: url(../img/main/soccer.svg);
}

.main__item:nth-child(4) {
  background: url(../img/main/grid.svg);
  padding-right: 70px;
}

.main__item:nth-child(5) {
  background: url(../img/main/road.svg);
}

.main__item:nth-child(6) {
  background: url(../img/main/bitmap.svg);
}

.main__item:nth-child(7) {
  background: url(../img/main/robot.svg);
}

.main__item:nth-child(8) {
  background: url(../img/main/fisheye.svg);
}

.main__item:hover {
  color: black;
}

.main__item:hover:nth-child(1) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))), url(../img/main/earth.svg) no-repeat;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/main/earth.svg) no-repeat;
}

.main__item:hover:nth-child(2) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))), url(../img/main/arcade.svg) no-repeat;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/main/arcade.svg) no-repeat;
}

.main__item:hover:nth-child(3) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))), url(../img/main/soccer.svg) no-repeat;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/main/soccer.svg) no-repeat;
}

.main__item:hover:nth-child(4) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))), url(../img/main/grid.svg) no-repeat;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/main/grid.svg) no-repeat;
}

.main__item:hover:nth-child(5) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))), url(../img/main/road.svg) no-repeat;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/main/road.svg) no-repeat;
}

.main__item:hover:nth-child(6) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))), url(../img/main/bitmap.svg) no-repeat;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/main/bitmap.svg) no-repeat;
}

.main__item:hover:nth-child(7) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))), url(../img/main/robot.svg) no-repeat;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/main/robot.svg) no-repeat;
}

.main__item:hover:nth-child(8) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))), url(../img/main/fisheye.svg) no-repeat;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/main/fisheye.svg) no-repeat;
}

.footer {
  width: 100%;
  padding: 44px 165px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -ms-flex-wrap: none;
      flex-wrap: none;
}

.footer__left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: none;
      flex-wrap: none;
}

.footer__logo {
  background: url(../img/header/logo.svg) no-repeat;
  width: 197px;
  height: 32px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -ms-flex-wrap: none;
      flex-wrap: none;
  margin-top: 24px;
}

.footer__item:not(:last-child) {
  margin-right: 32px;
}

.footer__link {
  color: #fff;
  font-family: 'Alata', sans-serif;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -ms-flex-wrap: none;
      flex-wrap: none;
  position: relative;
}

.footer__item:hover::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 2.5px;
  background: #FFFFFF;
  top: 29px;
  text-align: center;
}

.footer__right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: none;
      flex-wrap: none;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -ms-flex-wrap: none;
      flex-wrap: none;
  background: url(../img/footer/socials-icon.svg) no-repeat;
  width: 150px;
  height: 24px;
  margin-left: auto;
}

.footer__copyright {
  color: #FFFFFF;
  font-size: 15px;
  mix-blend-mode: normal;
  opacity: 0.5;
  font-weight: 400;
  font-family: 'Alata', sans-serif;
  margin-top: 33px;
}

.footer__socials-link {
  width: 10px;
  height: 10px;
  color: brown;
  cursor: pointer;
}

.footer__socials-item {
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
}

.footer__socials-item:not(:last-child) {
  margin-right: 16px;
}

.footer__socials-item:hover::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 3px;
  background: #FFFFFF;
  top: 24px;
  text-align: center;
  margin-top: 8px;
}

@media (max-width: 768px) {
  .footer {
    padding: 56px 0;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: none;
        flex-wrap: none;
    margin: 32px 0 48px;
  }
  .footer__socials {
    margin: auto;
  }
  .footer__item:not(:last-child) {
    margin-bottom: 24px;
    margin-right: 0;
  }
  .main-intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: none;
  }
  .main-intro__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: none;
        flex-wrap: none;
    padding: 74px 64px 0 75px;
    text-align: center;
    margin-top: 48px;
    position: inherit;
  }
  .main-intro__img {
    height: 276px;
  }
  .header {
    margin: 0;
    padding: 40px 24px 227px 24px;
  }
  .main {
    margin: 40px 24px 227px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: none;
            flex-direction: none;
    -ms-flex-wrap: none;
        flex-wrap: none;
    width: 100%;
  }
}

@media (max-width: 1050px) {
  .wrapper {
    width: 100%;
  }
  .header__list {
    display: none;
  }
  .header__slogan {
    padding: 0, 40px;
    width: 327px;
    font-size: 40px;
  }
}
/*# sourceMappingURL=main.css.map */