@import './config/normalize';
@import './config/variables';
@import './config/mixins';

body {
    font-family: 'Josefin Sans', sans-serif;
}
.wrapper {
    width: 95%;
    margin: 0 auto;
    background: #fff;
    @include flexiblePlacement(none, none, column, none);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400px;
}

@import './mobile-menu';
@import './header';
@import './main';
@import './footer';
@import './config/media';