@import './config/normalize';
@import './config/variables';
@import './config/mixins';

.wrapper {
    width: 1440px;
    margin: 0 auto;
    background: #F2F2F2;
    @include flexiblePlacement(none, none, none, none);
    font-family: 'Josefin Sans', sans-serif;
    weight: 300px;
}

@import './header';
@import './main';
@import './footer';