@import './config/normalize';
@import './config/variables';
@import './config/mixins';

.wrapper {
    width: 95%;
    margin: 0 auto;
    background: #F2F2F2;
    @include flexiblePlacement(none, none, column, none);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400px;
}

@import './header';
@import './main';
@import './footer';