@media (max-width: 768px) {
    .footer {
        padding: 56px 0;
    }

    .footer {
        @include flexiblePlacement(center, center, column, wrap);
    }

    .footer__list {
        @include flexiblePlacement(center, center, column, none);
        margin: 32px 0 48px;
    }

    .footer__socials {
        margin: auto;
    }

    .footer__item:not(:last-child) {
        margin-bottom: 24px;
        margin-right: 0;
    }

    .main-intro {
        @include flexiblePlacement(center, center, column, wrap);
        position: none;
    }

    .main-intro__content {
        @include flexiblePlacement(center, center, column, none);
        padding: 74px 64px 0 75px;
    text-align: center;
        margin-top: 48px;
        position: inherit;
    }

    .main-intro__img {
        height: 276px;
    }

    .header {
        margin: 0;
        padding: 40px 24px 227px 24px;
    }

    .main {
        margin: 40px 24px 227px 0;
        @include flexiblePlacement(center, center, none, none);
        width: 100%;
        position: relative;
    }
}

.mobile-menu {
    display: block;
}

@media (max-width: 1050px) {
    .wrapper {
        width: 100%;
    }
    .header__list {
        display: none;
    }

    .header__slogan {
        padding: 0, 40px;
        width: 327px;
        font-size: 40px;

    }

    .main__btn {
        position: absolute;
        bottom: 0;
        margin-top: 50px;
    }
}